{
    "presets": [
      ["env", {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "current"
        }
      }],
      "react"
    ],
    "plugins": ["react-hot-loader/babel"],
    "env": {
      "test": {
        "presets": ["env"]    }
    }
  }
  